/*
 * Layout.module.scss
 * Author: Evan Kirkiles
 * Created on: Thu Oct 26 2023
 * 2023 Yale SWE 
 */
@import "@/styles/utils";

.body {
  display: grid;
  grid-template:
    "header" auto
    "graph" auto
    "main" auto
    "footer" auto / 1fr;
  width: 100%;

  & > header,
  & > main:not([data-type="sanity"]),
  & > footer {
    z-index: zIndex("low");
    width: calc(100%);
    // max-width: var(--max-main-width);
    // margin: 0 auto;
  }

  & > header {
    grid-area: header;
    z-index: zIndex("medium");
  }

  & > main {
    grid-area: main;
    padding: calc(0.5 * var(--page-padding)) var(--page-padding);

    @include media("md") {
      min-height: calc(100vh - var(--header-height) - 10px);
      min-height: calc(100svh - var(--header-height) - 10px);
    }
  }

  & > footer {
    grid-area: footer;
  }

  // @include media("md") {
  //   grid-template:
  //     "header header" auto
  //     "main graph" auto
  //     "footer graph" auto / auto 1fr;
  // }

  @include media("lg") {
    grid-template:
      "header graph" auto
      "main graph" auto
      "footer graph" auto / min(40vw, 55ch) 1fr;
  }

  @include media("xl") {
    grid-template:
      "header graph" auto
      "main graph" auto
      "footer graph" auto / min(40vw, 55ch) 1fr;
  }
}
