body {
    background: #00356b;
    margin: 0;
    padding: 20px;
}
#graph {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1 {
    font-family: Helvetica, sans-serif;
    width: 20px;
    color: white;
    margin: 0;
    z-index: 1;
    position: relative;
}
