body {
    background: #00356b;
    margin: 0;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    color: white;
}
#graph {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
main {
    z-index: 1;
    position: relative;
}
h1 {
    width: 20px;
    color: white;
    margin: 0;
}
p {
}
button {
    display: block;
    margin-bottom: 6px;
    font: inherit;
    background: none;
    border: solid 2px white;
    color: white;
    padding: 5px 8px 3px;
}
