/*
 * Graph.module.scss
 * Author: Evan Kirkiles
 * Created on: Fri Oct 27 2023
 * 2023 Yale SWE 
 */
@import "@/styles/utils";

.container {
  grid-area: graph;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100svh - var(--header-height) - 5em);
  z-index: 0;

  @include media("md") {
    position: sticky;
    top: 0;
    max-height: 100vh;
  }

  &::before {
    content: "";
    position: absolute;
    inset: auto var(--page-padding) 0;
    height: 1px;
    background-color: theme-color("content");

    @include media("md") {
      inset: var(--page-padding) auto var(--page-padding) 0;
      width: 1px;
      height: auto;
      display: block;
    }
  }

  & > div {
    display: contents;
  }

  // & #force-graph-container {
  //   width: 100%;
  //   height: 100%;
  // }
}
