/*
 * Graph.module.scss
 * Author: Evan Kirkiles
 * Created on: Fri Oct 27 2023
 * 2023 Yale SWE 
 */
@import "@/styles/utils";

.container {
  grid-area: graph;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: calc(100svh - var(--header-height) - 8em);
  z-index: 0;

  @include media("lg") {
    position: sticky;
    top: 0;
    max-height: 100vh;
  }

  &::before {
    content: "";
    position: absolute;
    inset: auto var(--page-padding) 0;
    height: 1px;
    background-color: theme-color("content");
    z-index: 1;

    @include media("lg") {
      inset: var(--page-padding) auto var(--page-padding) 0;
      width: 1px;
      height: auto;
      display: block;
    }
  }

  // & > div {
  //   display: contents;
  // }

  // & #force-graph-container {
  //   width: 100%;
  //   height: 100%;
  // }
}

.overlay {
  grid-area: graph;
  position: absolute;
  inset: 0;
  padding: 0.5em var(--page-padding);
  pointer-events: none;
  display: grid;
  grid-template:
    "title search" 1fr
    "actions settings" 1fr / 1fr auto;

  & > * {
    pointer-events: all;
  }

  @include media("lg") {
    padding: var(--page-padding);
  }
}

.info {
  grid-area: title;
  align-self: flex-start;
  // background-color: rgba(0, 0, 0, 0.4);
  // backdrop-filter: blur(4px);
}

.controls {
  grid-area: actions;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 0.5em;

  & button {
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid theme-color("content");
    background-color: theme-color("background");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    transition: all 0.1s ease-in-out;

    & svg {
      font-size: 1.25em;
    }

    &:hover {
      background-color: theme-color("content");
      color: theme-color("background");
    }
  }
}
